:root {
  --first-font: 'Roboto', sans-serif;
  --second-font: 'Montserrat', sans-serif;
  --first-color: #0A0A0A;
  --text-color: #000000;
  --header-height: 7rem;
  --product-width: 432px;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: var(--first-font);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
  font-weight: normal;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: #ffffff;
}

.promo {
  height: 3rem;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: var(--header-height);
  background-color: var(--first-color);
}

.nav-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 64px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.nav-main ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.nav-main ul:last-child {
  justify-content: flex-end;
}

.nav-main ul li {
  list-style: none;
}

.nav-main ul li a {
  color: #fff;
  font-size: 1.8rem;
}

.nav-main > a {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  font-style: italic;
}

main {
  padding: 0 64px;
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-title h1 {
  padding: 14px 0 7px 0;
  font-style: italic;
  font-weight: normal;
}

.main-title p:first-child {
  position: absolute;
  left: 0;
  top: 14px;
  font-size: 1.2rem;
  color: #929292;
}

.filters {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 37px;
  box-shadow: 0 12px 20px #0000000D;
}

.nav-filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  height: 100%;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-right: 60px;
  padding-left: 30px;
}

.filter p {
  font-size: 1.8rem;
}

.filter-option {
  display: flex;
  align-items: center;
  gap: 7px;
}

.showing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000000D;
  height: 100%;
  padding: 0 35px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--product-width), 1fr));
  gap: 20px;
}

/* Product Card */
.product-card {
  min-width: var(--product-width);
  height: 725px;
  position: relative;
  margin-bottom: 30px;
}

.fav-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.fav-btn path{
  fill: #000000;
}

.fav-btn:hover path{
  fill: #ffffff;
}

.fav-btn-clicked{
  fill: #FF0090 !important;
}

.main-carousel {
  width: 100%;
  height: 625px;
  overflow: hidden;
  border: 1px solid #eee;
  line-height: 0;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description-container {
  position: relative;
}

.main-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.product-name {
  font-size: 1.6rem;
  color: #434343;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.price-container p:first-child {
  font-size: 1,6rem;
  color: #b8b8b8;
  text-decoration: line-through;
}

.price-container p:last-child {
  font-size: 1.6rem;
  color: #434343;
  font-weight: bold;
  text-decoration: none;
}

.option-container {
  margin: 17px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#option-container0 .option-btn {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  outline: 1px solid #999;
  transition: all 300ms ease-in-out;
}

#option-container0 .option-btn:hover {
  outline: 1px solid #000;
  outline-offset: 2px;
}

#option-container1 {
  background: rgba(255, 255, 255, .75);
  height: 50px;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: -50px;
  left: 0;
  display: none;
}

.product-stock {
  position: absolute;
  left: 10px;
}

#option-container1 .option-btn {
  font-weight: 300;
  font-size: 1.4rem;
  height: 20px;
  color: #000000;
  padding: 0 5px;
}

#option-container1 .option-btn:disabled {
  color: #9F9F9F;
  cursor: default;
}

#option-container1 .option-btn:hover {
  outline: 1px solid #000;
  border-radius: 15px;
}

.main-carousel:hover ~ .description-container #option-container1 {
  display: flex;
}

.product-promos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.off {
  color: #F30C3C;
  font-size: 1.4rem;
}

#show-more-btn {
  border: 1px solid #000;
  height: 50px;
  width: 100px;
  margin: 30px auto;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #fff;
  transition: all 300ms ease-in-out;
}

#show-more-btn:hover {
  background-color: #000;
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}